<h2> Olá {{ name }}, </h2>
<p>
  Parace que você solicitou uma recuperação de sua senha, caso queira prosseguir clique no link abaixo:
</p>
<p>
  <a href="{{ resetPasswordUrl }}" target="_blank">Recuperar senha</a>
</p>
<p>
  Caso não tenha sido você quem fez a solicitação, favor desconsiderar o email.
</p>
<p>
  <strong>Equipe de Desenvolvimento</strong>
</p>
